/* Main CSS */

body {
    font-family: monospace;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}


.hotspot_map iframe {
    width: 90%;
    height: 90%;
}


.navbar-link {
    padding: 0% 5%;
    color: black;
}


.add_box {
    padding: 2.5% 0;
}

.add_box input {
    padding: 8px;
}


.view_box {
    padding: 3% 0;
}