<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_62fb3f5411ca4a73921acd928e217741 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_62fb3f5411ca4a73921acd928e217741" ></div>
        
</body>
<script>    
    
            var map_62fb3f5411ca4a73921acd928e217741 = L.map(
                "map_62fb3f5411ca4a73921acd928e217741",
                {
                    center: [40.7128, -74.006],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2f2fab65b3084629bfa34cca8371f4da = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var marker_37636f1c08e54149b1d6db086e37cefb = L.marker(
                [40.7161301, -73.959759],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_5dd0d5cbcaca4991837aaa46c72c3336 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_37636f1c08e54149b1d6db086e37cefb.setIcon(icon_5dd0d5cbcaca4991837aaa46c72c3336);
        
    
        var popup_8bb72bcf999a4214980cac4af4661e1e = L.popup({"maxWidth": "100%"});

        
            var html_8bc3eb9c91c44d9d9dec7e964ca53334 = $(`<div id="html_8bc3eb9c91c44d9d9dec7e964ca53334" style="width: 100.0%; height: 100.0%;"><B>Whole Foods (Williamsburg)</B><Br>238 Bedford Ave, Brooklyn, NY</div>`)[0];
            popup_8bb72bcf999a4214980cac4af4661e1e.setContent(html_8bc3eb9c91c44d9d9dec7e964ca53334);
        

        marker_37636f1c08e54149b1d6db086e37cefb.bindPopup(popup_8bb72bcf999a4214980cac4af4661e1e)
        ;

        
    
    
            var marker_e7759cabc1df4b89927570e0f9eaa7ce = L.marker(
                [40.72381, -73.9923841],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_f2f27134b4e8451891ac5da860ea0f58 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e7759cabc1df4b89927570e0f9eaa7ce.setIcon(icon_f2f27134b4e8451891ac5da860ea0f58);
        
    
        var popup_1ade68c3be044771aff178abd70f6489 = L.popup({"maxWidth": "100%"});

        
            var html_30e210f81072409297b8bac52134a906 = $(`<div id="html_30e210f81072409297b8bac52134a906" style="width: 100.0%; height: 100.0%;"><B>Whole Foods (Soho)</B><Br>95 E Houston St, New York, NY</div>`)[0];
            popup_1ade68c3be044771aff178abd70f6489.setContent(html_30e210f81072409297b8bac52134a906);
        

        marker_e7759cabc1df4b89927570e0f9eaa7ce.bindPopup(popup_1ade68c3be044771aff178abd70f6489)
        ;

        
    
    
            var marker_7ccc5036d16d4f03beb93793b7b281bf = L.marker(
                [40.6468246, -73.9700413],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_caeb5401949d40c797599b0c5c156b7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7ccc5036d16d4f03beb93793b7b281bf.setIcon(icon_caeb5401949d40c797599b0c5c156b7a);
        
    
        var popup_ae34f7b82c2146dcb2c0fe1584a1cf25 = L.popup({"maxWidth": "100%"});

        
            var html_db2aa03c43664ccbbe01c0dda68c0406 = $(`<div id="html_db2aa03c43664ccbbe01c0dda68c0406" style="width: 100.0%; height: 100.0%;"><B>Lark Cafe</B><Br>1007 Church Ave, Brooklyn, NY</div>`)[0];
            popup_ae34f7b82c2146dcb2c0fe1584a1cf25.setContent(html_db2aa03c43664ccbbe01c0dda68c0406);
        

        marker_7ccc5036d16d4f03beb93793b7b281bf.bindPopup(popup_ae34f7b82c2146dcb2c0fe1584a1cf25)
        ;

        
    
    
            var marker_89144c4c7b8c4e95a6c1547a1e6a2e8b = L.marker(
                [40.6723349, -73.9575266],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_70a758a646814a70a0cfd6d07ffcf6ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_89144c4c7b8c4e95a6c1547a1e6a2e8b.setIcon(icon_70a758a646814a70a0cfd6d07ffcf6ab);
        
    
        var popup_bcfc1bad485442f68467d09bd3c89d5a = L.popup({"maxWidth": "100%"});

        
            var html_3580430ba3ff4063b597d53fd55f42d0 = $(`<div id="html_3580430ba3ff4063b597d53fd55f42d0" style="width: 100.0%; height: 100.0%;"><B>Crown Heights Cafe</B><Br>764 Franklin Ave, Brooklyn, NY</div>`)[0];
            popup_bcfc1bad485442f68467d09bd3c89d5a.setContent(html_3580430ba3ff4063b597d53fd55f42d0);
        

        marker_89144c4c7b8c4e95a6c1547a1e6a2e8b.bindPopup(popup_bcfc1bad485442f68467d09bd3c89d5a)
        ;

        
    
    
            var marker_23122a085f734e549cbe8cb398b7bed1 = L.marker(
                [40.723065250000005, -73.9920127189456],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_4f018662f48842d388eb336d730db78b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_23122a085f734e549cbe8cb398b7bed1.setIcon(icon_4f018662f48842d388eb336d730db78b);
        
    
        var popup_75217ff9d5f44c7c878d464cce944244 = L.popup({"maxWidth": "100%"});

        
            var html_96f30cff67d04f66b9aad1f9a78b7e61 = $(`<div id="html_96f30cff67d04f66b9aad1f9a78b7e61" style="width: 100.0%; height: 100.0%;"><B>Public Hotel</B><Br>215 Chrystie St, New York, NY</div>`)[0];
            popup_75217ff9d5f44c7c878d464cce944244.setContent(html_96f30cff67d04f66b9aad1f9a78b7e61);
        

        marker_23122a085f734e549cbe8cb398b7bed1.bindPopup(popup_75217ff9d5f44c7c878d464cce944244)
        ;

        
    
    
            var marker_a2cd84afd7604a80b089845937b3914b = L.marker(
                [40.74575025, -73.98813675],
                {}
            ).addTo(map_62fb3f5411ca4a73921acd928e217741);
        
    
            var icon_03f02520bf194bc4b6e4126139ddda35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a2cd84afd7604a80b089845937b3914b.setIcon(icon_03f02520bf194bc4b6e4126139ddda35);
        
    
        var popup_dde552982b95470780aca681b9559556 = L.popup({"maxWidth": "100%"});

        
            var html_e2c4f7d1077f4f28af31652aebe49e00 = $(`<div id="html_e2c4f7d1077f4f28af31652aebe49e00" style="width: 100.0%; height: 100.0%;"><B>Ace Hotel</B><Br>20 W 29Th St, New York, NY</div>`)[0];
            popup_dde552982b95470780aca681b9559556.setContent(html_e2c4f7d1077f4f28af31652aebe49e00);
        

        marker_a2cd84afd7604a80b089845937b3914b.bindPopup(popup_dde552982b95470780aca681b9559556)
        ;

        
    
</script>